
{{> head }}

{{> navBar }}

<div class="row jumbotron">
    <div class="col-8">
        <h1>Soy un texto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vel quae animi culpa, perferendis sequi. Dolor, quo quae? Iure, dolores velit veritatis quam vero enim praesentium qui saepe provident non.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/foto-about.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}